/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2017, 10:40:47 AM
    Author     : Acer
*/
#banner-image{
    background-image: url("bb.jpg"); 
       padding-top: 76px; 
       margin-top: 0px;
       text-align: center; 
       color: #f8f8f8; 
       height: 600px;
       background-repeat: no-repeat;
       background-position: center;
      background-size: cover;
}

 #banner-content{
     position:relative;
    background-color: rgba(0,0,0,0.8);
    max-width:550px;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
     margin-bottom: 12%;
}

footer{
       padding: 15px; 
       background-color: #101010; 
       color:#9d9d9d; 
       bottom: 0px; 
       width: 100%; 
}
.navbar-brand{
    font-size:20px;
}